  <footer class="footer header-footer-background">
    <div class="content has-text-centered">
      <p><strong>MagicLeague</strong> - made with ❤️ by <a href="https://github.com/kajawitek">Kaja</a> and <a href="https://github.com/piowit">Piotr</a>.</p>
    </div>
  </footer>
